<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
<div th:fragment="lastReceipts" class="list-group">
    <div class="card border-secondary m-3">
        <div class="card-header font-weight-bold">Ostatnie wydatki</div>
        <div class="card-body">
            <th:block th:if="${lastReceipts}" >
                <a href="/home/receipt/add" th:if="${lastReceipts.isEmpty()}" th:text="'W twoim budżecie nie ma żadnych wydatków. Kliknij aby dodać nowy wydatek'"
                   class="list-group-item list-group-item-action">Brak wydatków w budżecie</a>
                <a th:href="@{/home/receipt/edit/{id}(id=${receipt.id})}" th:unless="${lastReceipts.isEmpty()}" th:each="receipt : ${lastReceipts}" th:text="|Kwota: ${receipt.amount} Data: ${receipt.dateOfPayment}|"
                   class="list-group-item list-group-item-action">Receipt1</a>
            </th:block>
        </div>
    </div>
</div>
</body>
</html>