<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top Bar</title>
</head>
<body>

    <div th:fragment="topBar">
        <button onclick="window.location.href = 'http://localhost:8080/home';">Home</button>
        <button onclick="window.location.href = 'http://localhost:8080/home/receipt/add';">Add new receipt</button>
        <button onclick="window.location.href = 'http://localhost:8080/home/income/add';">Add new income</button>
        <button onclick="window.location.href = 'http://localhost:8080/home/transfer/add';">Add new transfer</button>
        <!--zastnowić się czy poniższy adres jest poprawny-->
        <button onclick="window.location.href = 'http://localhost:8080/home/records/all';">Records</button>
        <button onclick="window.location.href = 'http://localhost:8080/home/inbox';">Inbox</button>
        <button onclick="window.location.href = 'http://localhost:8080/home/settings';">Settings</button>
        <button onclick="window.location.href = 'http://localhost:8080/home/logout';">Log out</button>
    </div>



</body>
</html>