<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new Income Category</title>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Form</h1>
    <form action="#" th:action="@{/home/add-income-category}" th:object="${incomeCategory}" method="post">
        <p>Category name: <input type="text" th:field="*{name}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

</body>
</html>