<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Wystąpił błąd</title>
</head>
<body>
<div>
    <h3>Wystąpił błąd</h3>
    <div class="error-title">
            <p th:if="${status == 404}">Strona nie została znaleziona!</p>
            <p th:unless="${status == 404}">Coś poszło nie tak...</p>
    </div>
    <div th:switch="${status}" class="error-text">
        <p th:case="404">Sprawdź czy wpisałeś poprawny adres :)</p>
        <p th:case="403">Czy na pewno masz dostęp do tej strony?</p>
        <p th:case="*">Postaramy się to naprawić!</p>
    </div>
    <div><a href="/home" th:href="@{/home}">Powrót do strony głównej</a></div>

        <!--dodane na potrzeby developmentu-->
    <br>
    <p th:text="${message}">Exception message</p>
    <pre th:text="${trace}">Stacktrace</pre>
</div>

</body>
</html>