<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Receipt Form</title>
</head>
<body>
    <div th:include="fragments/topBar :: topBar"></div>

    <div class="container-fluid align-self-center mt-5 w-50 ">
        <div class="jumbotron">
            <h3>
                <span th:if="${receipt.id == null}">Dodaj wydatek</span>
                <span th:unless="${receipt.id == null}">Edytuj wydatek</span>
            </h3>
            <hr class="my-4">
            <form action="#" th:action="@{${action}}" th:object="${receipt}" method="post">
                <div class="form-group">
                    <label for="bankAccount">Konto</label>
                    <select class="form-control" id="bankAccount" th:field="*{bankAccount.id}" required="required">
                        <option
                                th:each="bankAccount: ${bankAccounts}"
                                th:value="${bankAccount.id}"
                                th:text="|${bankAccount.name}, saldo: ${bankAccount.balance}|">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <div th:if="${#fields.hasErrors('amount')}" th:text="'Niepoprawna suma wydatków w kategoriach.'"
                         class="alert alert-danger" role="alert">Błędna kwota</div>
                    <label for="amount">Kwota</label>
                    <input type="number" step="0.01" class="form-control" id="amount" th:field="*{amount}" required="required"/>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="date">Data</label>
                        <input type="date" class="form-control" id="date" th:value="*{dateOfPayment}" th:field="*{dateOfPayment}" required="required">
                    </div>
                    <div class="form-group col-md-8">
                        <label for="placeOfPayment">Adresat</label>
                        <input type="text" class="form-control" id="placeOfPayment" th:field="*{placeOfPayment}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="note">Notatka</label>
                    <textarea cols="30" rows="3" class="form-control" id="note" th:field="*{note}"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-2 btn-block" name="addExpense">Dodaj kategorię</button>
                <div class="form-group" th:if="${!receipt.expenses.isEmpty()}">
                    <table class="table table-sm">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Kategoria</th>
                            <th>Kwota</th>
                            <th>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="expense,expenseStat : *{expenses}">
                            <td th:text="${expenseStat.count}">1</td>
                            <td>
                                <select class="form-control" th:field="*{expenses[__${expenseStat.index}__].expenseCategory}">
                                    <option th:each="category : ${expenseCategories}"
                                            th:value="${category.id}"
                                            th:text="${category.name}">Kategoria</option>
                                </select>
                            </td>
                            <td>
                                <input type="number" step="0.01" class="form-control" th:field="*{expenses[__${expenseStat.index}__].amount}" th:default="${receipt.amount}" required="required" />
                            </td>
                            <td>
                                <input type="hidden" th:field="*{expenses[__${expenseStat.index}__].id}">
                                <button type="submit" class="btn btn-primary float-right" name="removeExpense"
                                        th:value="${expenseStat.index}">Usuń kategorię</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <hr class="my-4">
                <div class="form-group">
                    <button class="btn btn-primary mr-1" type="submit" th:disabled="${receipt.expenses.isEmpty()}">Zapisz</button>
                    <a class="btn btn-primary" role="button" th:if="${receipt.id != null}" th:href="@{/home/receipt/delete/{id}(id=${receipt.id})}">Usuń</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>