<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Expense form</title>
</head>
<body>
    <div th:include="fragments/test_topBar :: topBar"></div>

    <h3>
        <span th:if="${expense.id == null}">Add expense</span>
        <span th:unless="${expense.id == null}">Edit expense</span>
    </h3>
    <form action="#" th:action="@{${action}}" th:object="${expense}" method="post">
        <p>Expense amount: <input type="text" th:field="*{amount}" /></p>
        <select th:field="*{expenseCategory.id}">
            <option
                th:each="expenseCategory: ${expenseCategories}"
                th:value="${expenseCategory.id}"
                th:text="${expenseCategory.name}"></option>
        </select>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>