<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <div th:include="fragments/test_topBar :: topBar"></div>

    <h1>Yo ziomki!</h1>

    <p>(Tymczasowo) Lista przydatnych odnośników, co by nie wbijać z palca:</p>
    <li><a href="http://localhost:8080/home/budget/all">Budget all</a> </li>
    <li><a href="http://localhost:8080/home/budget/add">Budget add</a> </li>
    <li><a href="http://localhost:8080/home/expenseCategory/all">Expense Category all</a> </li>
    <li><a href="http://localhost:8080/home/expenseCategory/add">Expense Category add</a> </li>
    <li><a href="http://localhost:8080/home/incomeCategory/all">Income Category all</a> </li>
    <li><a href="http://localhost:8080/home/incomeCategory/add">Income Category add</a> </li>
    <li><a href="http://localhost:8080/home/trnsfer/all">Target all</a> </li>
    <li><a href="http://localhost:8080/home/trnsfer/add">Target add</a> </li>
    <li><a href="http://localhost:8080/home/transfer/all">Transfer all</a> </li>
    <li><a href="http://localhost:8080/home/trnsfer/add">Transfer add</a> </li>


</body>
</html>