<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Expense</title>
</head>
<body>
    <h3>Add expense</h3>
    <form action="#" th:action="@{/home/expense/add}" th:object="${expense}" method="post">
        <p>Expense amount: <input type="text" th:field="*{amount}" /></p>
        <select th:field="*{expenseCategory.id}">
            <option
                th:each="expenseCategory: ${expenseCategories}"
                th:value="${expenseCategory.id}"
                th:text="${expenseCategory.name}"></option>
        </select>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>