<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Test Income</title>
</head>
<body>
    <h3>Edit income</h3>
    <form action="/home/income/edit/{id}" th:action="@{/home/income/edit/{id}(id=${income.id})}" th:object="${income}" method="post">
        <p>Income value: <input type="text" th:field="*{amount}" /></p>
        <select th:field="*{incomeCategory.id}">
            <option
                th:each="incomeCategory: ${incomeCategories}"
                th:value="${incomeCategory.id}"
                th:text="${incomeCategory.name}"></option>
        </select>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>