<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Test Receipts</title>
</head>
<body>
    <h1>Receipts list</h1>
    <table>
        <tr th:each="receipt : ${receipts}">
            <td th:text="${receipt.id}">1</td>
            <td th:text="${receipt.amount}">1</td>
            <td th:text="${receipt.dateOfPayment}">...</td>
            <td th:text="${receipt.placeOfPayment}">...</td>
            <td th:text="${receipt.note}">...</td>
        </tr>
    </table>
</body>
