<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Expense Category</title>
</head>
<body>
<h3>
    <span th:if="${expenseCategory.id == null}">Add expense category</span>
    <span th:unless="${expenseCategory.id == null}">Edit expense category</span>
</h3>
<form action="#" th:action="@{${action}}" th:object="${expenseCategory}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <input type="submit" value="Submit"/>
</form>
</body>