<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Test Receipts</title>
</head>
<body>
    <div th:include="fragments/topBar :: topBar"></div>
    <div class="container">
        <div class="container-fluid align-self-center mt-5 w-50">
            <div th:if="${receipts}" class="list-group">
                <h3 class="text-center">Wszystkie wydatki</h3>
                <div th:each="receipt : ${receipts}" class="list-group-item text-center rounded border border-warning">
                    <p th:text="'Kwota: '+${receipt.amount}">1</p>
                    <p th:text="'Data: '+${receipt.dateOfPayment}">...</p>
                    <p th:text="'Miejsce: '+${receipt.placeOfPayment}">...</p>
                    <p th:unless="${receipt.note==''}" th:text="'Notka: '+${receipt.note}">...</p>
                    <a th:href="@{/home/receipt/edit/{id}(id=${receipt.id})}" class="btn btn-primary">Edytuj</a>
                </div>
            </div>
            <div th:if="${receipts.isEmpty()}">
                <p class="text-center h3">Brak wydatków w budżecie.</p>
            </div>
        </div>
    </div>
</body>
</html>
