<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Transfers</title>
</head>
<body>
<div th:include="fragments/topBar :: topBar"></div>
<div class="container">
    <div class="container-fluid align-self-center mt-5 w-50">
        <div th:if="${transfers}" class="list-group">
            <h3 class="text-center">Wszystkie transfery</h3>
            <div th:each="transfer : ${transfers}" class="list-group-item text-center rounded border border-primary">
                <p th:text="'Kwota: '+${transfer.amount}">1</p>
                <p th:text="'Data: '+${transfer.dateOfTransfer}">...</p>
                <p th:text="'Z konta: '+${transfer.fromAccount.name}">..</p>
                <p th:text="'Na konto: '+${transfer.toAccount.name}">.</p>
                <p th:unless="${transfer.note==''}" th:text="'Notka: '+${transfer.note}"></p>
                <a th:href="@{/home/transfer/edit/{id}(id=${transfer.id})}" class="btn btn-primary">Edytuj</a>
            </div>
        </div>
        <div th:if="${transfers.isEmpty()}">
            <p class="text-center h3">Brak transferów w budżecie.</p>
        </div>
    </div>
</div>
</body>
</html>